<header class="">
    <nav class="navbar navbar-expand-lg navbar navbar-light px-3" style="background-color: #c8ee3d;">
      <a class="navbar-brand" href="/"><img src="/images/logo.svg"  class="img-fluid" width="304" height="236"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse position-absolute bottom-0 start-50 translate-middle-x" id="navbarNavDropdown">
        <ul class="navbar-nav  fs-3">
          <li class="nav-item active">
            <a class="nav-link text-dark" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Categorias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Ofertas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Ayuda</a>
          </li>
        </ul>
      </div>
      <div class="position-absolute top-50 end-0 translate-middle mt-3 px-3 me-3 fs-4 w-20 ">
        <main id="main"class=" form-signin  mt-1 " 
        style="width: 100%;" >
    <div class=" " >
        <div class="mt-1 mx-2  flex-column d-flex d-flex justify-content-center  ">
      <a href="/user/login"><button class=" btn  mb-2 w-100" style="background-color: #FFFD77;">Login</button></a>
      <a href="/user/registro"><button class=" btn   mb-2 text-white" style="background-color:#d63384">Registrate</button></a>
    </div>
    </div>
    </main>
     
       </div>
      <nav class="navbar position-absolute top-1 start-50 translate-middle-x mt-1 mb-2 "style="width: 40%;">
        <div class="container-fluid "  style="width: 100%;">
          <form class="d-flex" style="width: 100% ;">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-dark" type="submit"><span class="material-icons">search</span></button>
          </form>
        </div>
      </nav>
    </nav>
    </header>